<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996662531014-c32i81i5mas7dcfi7c9j79rij1rfdvs0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996662531014-c32i81i5mas7dcfi7c9j79rij1rfdvs0</string>
	<key>API_KEY</key>
	<string>AIzaSyB7qDj3wZ63wa7rIPU6oAaDr7eqsV5Ll3g</string>
	<key>GCM_SENDER_ID</key>
	<string>996662531014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-77461</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-77461.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996662531014:ios:bc07d2a5bef273af4758c7</string>
</dict>
</plist>